{{ define "main" }}
<div class="container-fluid mx-auto px-0">
    <div class="row">
        <div class="row p-3">
            <div class="col text-center mx-auto">
                <h1>{{ .Title }}</h1>
            </div>
        </div>
    </div>
    <div class="row px-0">
        <div class="col-12 col-md-10 col-lg-8 mx-auto px-0">
            <main class="main-content container-fluid mx-auto mb-5 px-2">
                <div class="row">
                    <div class="col-12">
                        <section class="list w-100 mx-auto">
                            {{ range sort .Pages ".Params.start_date" "asc"}}
                            <div class="row my-3">
                                <div class="col-12">
                                    <div class="card blog d-block">
                                        <div class="card-header">
                                            <div class="col-12">
                                                <h2 class="ps-2">{{.Title}}</h2>
                                            </div>
                                            <div class="col-12">
                                                <div class="d-block d-md-inline-block">
                                                    <strong><i class="fa fa-address-card ps-1" aria-label="Author"></i></strong> <span class="ps-1">{{ .Params.author }}</span> 
                                                </div>
                                                <div class="d-block d-md-inline-block">
                                                    <strong><i class="fa fa-calendar ps-1" aria-label="Date Published"></i></strong> <span class="ps-1">{{ time.Format "Monday, Jan 2, 2006" .Date }}</span>

                                                </div>
                                                {{ if .Params.start_date }}
                                                <div class="d-block d-md-inline-block">
                                                <strong><i class="fa fa-clock ps-1" aria-label="event date"></i></strong> <strong class="ps-1"><small>Start:</small></strong> <span class="ps-1">{{ time.Format "Monday, Jan 2, 2006" .Params.start_date }}</span>
                                                </div>
                                                {{ end }}
                                                {{ if .Params.end_date }}
                                                <div class="d-block d-md-inline-block">
                                                <strong><i class="fa fa-clock ps-1" aria-label="event date"></i></strong><strong class="ps-1"><small>End: </small></strong >
                                                    <span class="ps-1">{{ time.Format "Monday, Jan 2, 2006" .Params.end_date }}</span>
                                                </div>
                                                {{ end }}
                                                {{ if .Params.cost }}
                                                <div class="d-block d-md-inline-block">
                                                <strong><i class="fa fa-dollar-sign ps-1" aria-label="cost of event"></i></strong> <strong class="ps-1"><small>Cost: </small></strong> <span class="ps-1">{{ .Params.cost }}</span>
                                            </div>
                                                
                                            {{ end }}
                                                
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-12 col-md-3 p-2 d-flex align-items-center justify-content-center">
                                                        {{ if .Params.image }}
                                                        <a href="{{- .RelPermalink | absURL -}}" title="{{- .Title -}}" aria-label="event hyperlink">
                                                            <img data-src="{{ .Params.image | absURL }}" class="lazy fluid-img object-fit-cover" loading="lazy" decoding="async" alt="Post Thumbnail" height="150" width="150">
                                                        </a>
                                                        {{ else }}
                                                        <img data-src="{{- .Site.BaseURL -}}images/area-51-logo.webp" alt="logo thumbnail" class="lazy fluid-img object-fit-cover" loading="lazy" decoding="async" height="100" width="100">
                                                        {{- end -}}
                                                    </div>
                                                    <div class="col-12 col-md-9 p-2">
                                                        <p> {{.Description | markdownify }}</p>
                                                        <a href="{{- .RelPermalink | absURL -}}" title="{{.Title}}" class="btn btn-success">{{- .Title -}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
    
</div>
{{ end }}