{{ define "main" }}
<main class="container-fluid mx-auto p-0 my-3">
    <div class="row mx-0">
        <div class="col mx-auto text-center p-0 mx-0">
            <h1>Page Not Found</h1>
            <img data-src="{{ .Site.BaseURL}}images/404.png" alt="page not found" class="lazy fluid-img" height="400" width="400" decoding="async">
            <p class="lead">Sorry, we cannot find that page for you.  Please try again!</p>
        </div>
    </div>
    <div class="row">
        <div class="col mx-auto text-center p-3">
            <p><a href="{{.Site.BaseURL}}" title="return to the home page" class="btn btn-large btn-success">Return to the playing area now!</a></p>
        </div>
    </div>
</main>
{{ end }}