<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body id="top">
    {{ partial "closedForSeasons.html" . }}
    {{ partial "navBar.html" . }}
    {{ partial "heroHeader.html" . }}
    {{ partial "aboutBlock.html" . }}
    {{ partial "servicesBlock.html" . }}
    {{ partial "whyChooseUs.html" . }}
    {{ partial "cta.html" . }}
    {{ partial "testimonials.html" .}}
    {{ partial "locationBlock.html" . }}
    {{ partial "safety-requirements.html" . }}
    {{ partial "footer.html" . }}
   {{- partial "scripts.html" . -}}
</body>
</html>