<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body id="top">
    {{ if .Site.Params.closed_for_season }}
    {{ partial "closedForSeasons.html" . }}
    {{ end }}
    {{ partial "navBar.html" . }}
    {{ partial "heroHeader.html" . }}
    {{ partial "aboutBlock.html" . }}
    {{ partial "servicesBlock.html" . }}
    {{ partial "whyChooseUs.html" . }}
    {{ partial "cta.html" . }}
    {{ partial "testimonials.html" .}}
    {{ partial "locationBlock.html" . }}
    {{ partial "safety-requirements.html" . }}
    {{ partial "event-modal.html" . }}
    {{ partial "footer.html" . }}
   {{- partial "scripts.html" . -}}
   <script defer>
       const script = document.getElementById('bootstrapJS');

        bootstrapJS.addEventListener('load', () => {
            setTimeout(() => {
                const myModal = new bootstrap.Modal(document.getElementById('eventModal'))

                if (!localStorage.getItem('modal')) {
                    myModal.show();
                    localStorage.setItem('modal', true)
                }
            }, 2000)
        })

   </script>
</body>
</html>