<style>
    @keyframes marquee {
        from {
        transform: translate3D(150%,0,0);
        }

        to {
            transform: translate3D(-100%,0,0);
        }
    }
    .marquee-container {
        overflow-x: hidden;
    }

    .marquee {
        animation: marquee 10s linear infinite;
        animation: none;
        overflow-x: hidden;
        width: auto;
    }
    .marquee:hover {
        animation-play-state: paused;
    }

    time {
        font-weight: 800;
        text-transform: uppercase;
    }

</style>
<section class="container-fluid alert alert-dismissible alert-danger text-center">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <div class="row">
        <div class="col col-xs-12 col-md-12 col-xl-9 mx-auto text-center marquee-container">
            <p class="lead marquee p-2"><strong>We Are Officially Closed For The Season.  See you in 2023! Thanks for the great season!</strong></p>
        </div>
    </div>
</section>