<section id="eventModal" class="modal bg-dark">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-center p-3">
            <strong class="modal-title h3 mx-auto d-block">Upcoming 2022 Events</strong>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
              <img src="/images/events/2022/newinvasionfly.webp" alt="Invasion Flyer" class="img-fluid" loading="lazy" decoding="async" height="647" width="500" />
            <p class="p-3">Checkout our upcoming 2022 events:</p>
            <a href="/events" aria-label="events link" title="Paintball Events" class="btn btn-danger">Events Page</a>
          </div>
          <div class="modal-footer d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="/events" aria-label="events link" title="Paintball Events" class="btn btn-danger">Events Page</a>
          </div>
        </div>
</section>
