<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title}} | {{ .Site.Title }}</title>

    {{ with .Description }}
    <meta name="description" content="{{ . }}">
    {{ else }}
    <meta name="description" content="{{ .Site.Params.description}}">
    {{ end }}

    <link rel="shortcut icon" href="{{ .Site.BaseURL}}images/icon.png" type="image/x-icon">

    <!-- Preload, Prefetch, preconnect etc. -->

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">

    <!-- Vendors -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"  crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ .Site.BaseURL}}css/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{- .Site.BaseURL -}}css/main.css">

    {{ with .Params.gallery }}

    <!-- <script type="text/javascript" src="https://bd27262ff848bd272624411.zapwp.com/generate_js:true"></script> -->
    {{ end }}
    <script defer data-domain="area51paintball.net" src="https://plausible.io/js/plausible.js"></script>

</head>