<section class="geolocation">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-lg-4 mx-auto my-3">
                <h3 class="text-start mb-3">The Best Paintball Northwestern Lower Michigan!</h3>
                <p class="lead">
                    Paintball isn't just a game: it's a full-blown obsession. 
                    Playing paintball is one of the most fun and exciting ways to spend time with friends and family, and it can be a great way to stay in shape. 
                    We are the best paintball center in the area and offer more than just an opportunity to play the game—we also offer fun and exciting activities for people of all ages, including kids.
                </p>
            </div>
            <div class="col-12 col-lg-8 mx-auto my-3 text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11313.900965348073!2d-85.1113891!3d44.8526191!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf8bb784fd02c9001!2sArea%2051%20Paintball!5e0!3m2!1sen!2sus!4v1639274919376!5m2!1sen!2sus" width="100%" height="400" style="border:0;" allowfullscreen="" title="Area 51 Map" aria-label="Map" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>