{{ with .Site.GetPage "rules-and-safety"}}
<section class="container alert alert-dismissible alert-success">
    <div class="row">
        <div class="container mx-auto p-3">
            <h3 class="text-center">
                {{ .Title }}
            </h3>
        </div>
    </div>
    <div class="row justify-content-center align-items-start">
        <div class="col-12 col-lg-4">
            {{ with .Params.safety_requirements}}
            <h4 class="text-center mb-3">{{ .title }}</h4>
            <ul class="list-group-flush">
                {{ range .list_items }}
                <li class="list-group-item">{{ . }}</li>
            {{ end }}
            </ul>
            {{ end }}
        </div>
        <div class="col-12 col-lg-4">
            {{ with .Params.rules_of_engagement }}
            <h4 class="text-center mb-3">{{ .title }}</h4>
            <ul class="list-group-flush">
                {{ range .list_items }}
                <li class="list-group-item">{{ . }}</li>
            {{ end }}
            </ul>
            {{ end }}
        </div>
        <div class="col-12 col-lg-4">
            {{ with .Params.things_to_consider }}
            <h4 class="text-center mb-3">{{ .title }}</h4>
            <ul class="list-group-flush">
                {{ range .list_items }}
                <li class="list-group-item">{{ . }}</li>
            {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}