{{ with .Site.GetPage "rules-and-safety"}}
<section data-background="{{ .Site.BaseURL }}images/backgrounds/paintball-spool-1920x1080.webp"  class="container-fluid bg-secondary text-center lazy-bg rules">
    <div class="row">
        <div class="container mx-auto p-3">
            <h3 class="text-center fw-bold h2">
                {{ .Title }}
            </h3>
        </div>
    </div>
    <div class="row justify-content-center align-items-start">
        <div class="col-12 col-md-9 col-lg-3 rules-card">
            {{ with .Params.safety_requirements}}
            <h4 class="text-center mb-3">{{ .title }}</h4>
            <ul class="list-group-flush p-0">
                {{ range .list_items }}
                <li class="list-group-item">{{ . }}</li>
            {{ end }}
            </ul>
            {{ end }}
        </div>
        <div class="col-12 col-md-9 col-lg-3 rules-card">
            {{ with .Params.rules_of_engagement }}
            <h4 class="text-center mb-3">{{ .title }}</h4>
            <ul class="list-group-flush p-0 mx-auto">
                {{ range .list_items }}
                <li class="list-group-item">{{ . }}</li>
            {{ end }}
            </ul>
            {{ end }}
        </div>
        <div class="col-12 col-md-9 col-lg-3 rules-card">
            {{ with .Params.things_to_consider }}
            <h4 class="text-center mb-3">{{ .title }}</h4>
            <ul class="list-group-flush p-0">
                {{ range .list_items }}
                <li class="list-group-item">{{ . }}</li>
            {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}