@use './mixins';

.services {
    display: grid;
    place-items: center;
    overflow: hidden;
    .services__image-wrapper {
        grid-area: 1/1;
        height: 100%;
        position: relative;
        z-index: 0;
        img {
            grid-area: 1/1;
            max-width: 100%;
        }
    }
    .grid-wrapper {
        background: linear-gradient(0.25turn, hsla(155, 67%, 45%, 0.5), hsla(155, 67%, 45%, 0.5));
        grid-area: 1/1;
        display: grid;
        place-items: center;
        height: 100%;
        padding: 1.5rem;
        position: relative;
        z-index: 2;
        .container-fluid {
            .row {
                .col-12 {
                    .card {
                        @include mixins.transition;
                        @media screen and (min-width: 1200px) {
                            opacity: 0.85;
                        }
                    }
                }
            }
        }
    }
    &:hover {
        .grid-wrapper {
            .container-fluid {
                .col-12 {
                    .card {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.interactive {
    -webkit-transition: all 250ms eas !important;
    -moz-transition: all 250ms ease !important;
    transition: all 250ms ease !important;
    &:hover {
        -moz-transform: rotateZ(-3deg);
        -webkit-transform: rotateZ(-3deg);
        transform: rotateZ(-3deg);
    }
}